[submodule "presentations/.presentation"]
	path = presentations/.presentation
	url = https://git.lumc.nl/j.f.j.laros/presentation.git
[submodule "presentations/.presentation-pics"]
	path = presentations/.presentation-pics
	url = https://git.lumc.nl/humgen/presentation-pics.git
